
{{#each this}}
<li class="cart__table-body">
          <div class="cart__table-data first-data" ><a id="productId" href="/product?productID={{id}}"><img class="cart__table-img" src={{imgUrl}} /></a><p>{{title}}</p></div>
          <div id="quantityBtn" class="cart__table-data  cart__table-data--quantity">
          <button class="product__card--btn plus" type="button" name="button" id="plus">
{{> svg-plus}}
</button>
<span  id="quantity" class="product__card--input">{{#if quantity}}{{quantity}}{{else}}1{{/if}}</span>
<button class="product__card--btn minus" type="button" name="button" id="minus">
{{> svg-minus}}
</button>
         </div>
          <div id="productPrice" class="cart__table-data "><span id="currencySymbol">EUR</span><span id="changedPrice" data-value={{this.price}}>{{this.price}}</span></div>
          <div id="itemSum" class="cart__table-data ">{{total}}</div>
          <div class="cart__table-data "><button id="removeProductBtn" class="cart__table-btn">
{{> svg-cross}}
</button></div>
</li>
{{/each}}